@media screen and (min-width: 320px){
/*  #maincontent {
    max-width: 320px;
    margin: 0 auto;
    display: flex;
  }*/
  h1{
    padding-top: 8px;
  }

  .filter-options {
    height: 80px;
  }

  .filter-options h2 {
    line-height: 1.5;
    margin: 0px 20px 0 8px;
  }

  .filter-options select {
    margin: 4px 4px 0px 8px;
    padding: 0px;
    width: 142px;
  }

  #restaurants-list {
    padding: 0px 15px 60px;
  }

  #restaurants-list li {
    width: 200px;
  }
  #restaurants-list .restaurant-img {
    margin-top: 10px;
  }
  #restaurant-name {
    font-size: 16pt;
    margin: 80px 0 30px;
  }
  #restaurant-img {
    width: 60%;
  }
  #restaurant-cuisine{
    width: 58%;
    padding-left: 5px;
  }
  #restaurant-address{
    width: 80%;
    font-size: 11pt;
    display: inline-grid;
  }
  #restaurant-hours{
    width: 150px;
    word-wrap: break-word;
    margin-left: -30px;
  }
  #restaurant-hours td{
    font-size: 10pt;
    padding: 10px 15px 0 0;
  }
  h2{
    margin: -20px 0 20px;
  }
  #reviews-container h2{
    font-size: 18pt;
    margin: -20px 0px 10px;
  }
  #reviews-list{
    margin-left: -30px;
    width: 75%;
  }
  #reviews-list li {
    padding: 10px;
    margin-top: -14px;
    width: 100%;
  }
  #footer {
    padding: 7px;
  }
}

@media screen and (min-width: 360px){
  #restaurants-list li {
    width: 238px;
  }

  #restaurant-name{
    width: 50%;
    margin: 60px 0 20px;
  }
  #restaurant-address{
    width: 75%;
    display: inherit;
  }
  #restaurant-hours td {
    font-size: 13pt;
  }
}

@media screen and (min-width: 411px){
  nav h1 {
    padding-top: 20px;
  }

  .filter-options select {
    margin: 0px 8px;
    width: 180px;
  }
  #restaurant-address {
    font-size: 12pt;
  }
  #restaurants-list {
    padding: 0px 25px 30px;
  }
  #restaurants-list li {
    width: 270px;
  }

  p{
    font-size: 14px;
  }
}

@media screen and (min-width: 768px){
  #restaurants-list li {
    margin: 10px;
    display: inline-grid;
  }
  #restaurant-name {
    width: 100%;
    font-size: 20pt;
    margin: 30px 0 20px;
  }
  #restaurant-img {
    width: 80%;
  }
  #restaurant-cuisine {
    width: 79%;
  }
  #restaurant-address{
    font-size: 14pt;
    width: 100%;
  }
  #restaurant-hours {
    width: 400px;
  }
  #restaurant-hours td {
    font-size: 18pt;
  }
  #reviews-container h2 {
    font-size: 28pt;
  }
  p {
    font-size: 22px;
  }
}
